*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, div, a, p, ul, li, h1, h2, h3, h4, header, span, main, form, section, input{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
